body {
    margin: 0;
    background-color: #1d3068;
}
#pic{
    align-items: center;
    justify-content: center;
    margin-left: 500px;
    height:190px;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;
    font-size: 25px;   
    margin-bottom:100px;
    margin-top: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 140px;
    margin-left: 120px;
}
h3{
    margin-bottom:0px;
}

.board {
    display: flex;
    border-style:none;
    font-family: 'DS-Digital', sans-serif;
    align-items: center;
    justify-content:center ;
    font-size: 150px; /* Increased font size for better visibility */
    color: red;
    text-align: center;
    border-radius: 5px;
    background-color: black;
    width: 180px;
    height: 145px;

}

.points {
    align-items: center;
    font-family: 'DS-Digital', sans-serif;
    text-align: center;
    width: 190px;
    margin-top: 20px;
    justify-content: space-between;
    margin-left: -5px;
}

button{
    font-family: 'DS-Digital', sans-serif;
    font-size: 38px;
}
.result{
    color: white;
    text-align: center;
    margin-top: -50px;
    font-size: 30px;
}